@charset "utf-8";
* {margin:0;padding:0;}
/*================================================ */
/*    #Reset & Basics (Inspired by E. Meyers)      */
/*================================================ */
html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	}
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}
*, *:before, *:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html,body {
height:100%;
font-family: "Work Sans",Montserrat,sans-serif, Helvetica, Arial,'Open Sans',sans-serif;
font-size:1em;
text-align:justify;
}

body {
	background-color:#FFF0F5;
	color:#000000;	
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	height:auto;
	}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
/* tables still need 'cellspacing="0"' in the markup */ 
table {border-collapse: collapse;border-spacing: 0;}
/* #Typography
================================================== */
h1,h2,h3,h4,h1 a,h2 a,h3 a,h1 a:hover,h2 a:hover,h3 a:hover {
	font-family:  , Helvetica;
	/*font-weight: normal;*/
	line-height: normal !important;}
/********************************************/
h1,h2,h3,h4,h1 a, h2 a, h3 a,h4 a,strong,ul,li,li a{
	text-align:left;
}
h1, h1 a{ font-size:2.5em;}
h4,h4 a{
	font-size:0.7em;
	}
h3,h3 a{
	font-size:0.8em;
	}
h2,h2 a{
	font-size:1em;
	line-height:1em;
	}
/********************************************/
p img { margin: 0; }
em { font-style: italic; }
strong { font-weight: bold;}
small,.small,p .small { font-size: 85% !important; }
hr {
	border: solid #87817e; border-width: 1px 0 0;
	margin: 1px 0 1px;
	height:1px;
	color:#d1d1d1;
	clear: both;
}
.regular{font-weight: 300;}
.light{font-weight: 400;}
.medium{font-weight: 500;}
.bold{
font-weight: 700;
font-weight: bold !important;
}
.bigtext{font-size:1.5em;}
/*------------------*/
/*  text-decoration */
/*------------------*/
.underline,.tagcloud a:hover{text-decoration:underline;}
/*------------------*/
/*  text-transform  */
/*------------------*/
.uppercase{text-transform: uppercase;}
.lowercase{text-transform: lowercase;}
/*------------------*/
/*       align      */
/*------------------*/
.centered,.centered a,a.centered,.centered h1,.centered h2,.centered h3,.centered h4{text-align:center;margin-left: auto;margin-right: auto;}
.centered img,img .centered,img .centered a,.centered img,.centered a img{text-align:center !important;display: block !important;margin-left: auto !important;margin-right: auto !important;float:none !important;}
.left{text-align:left !important;}
.right{text-align:right !important;}
.justify{text-align:justify !important;}
.float{position: fixed;}

/*================================================ 
 Page styles - F. Gustavo Sierra Hernández
================================================== */
.header,.content,.footer{min-height:30px;padding:5px;}
.header{background-color:#ff0066;box-shadow: 0 0.3em 1em #000;}
.content{background-color:#f4f4f4;height: 100vh;}
.footer{background-color:#419aff;width:100%;bottom:0px;
  /*position:fixed;*/
  box-shadow: 0 0.3em 1em #000;
  margin-top: 15px;}
.container{
width:80%;
margin: 0 auto;
border-radius: 5px;
}
.content .container{
height: 100vh;
/*height:100%;*/
margin-bottom: 15px;
}
.nav {
  /*background-color: yellow; */
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  font-size: 1.2em;
  padding: 10px;
}
.menu_superior{
  height: 50px;
  position: relative;
  display: inline-block;
  top:5px;
  left:50px;

}
.menu_superior li{
  display: inline-block;
  color: #f4f4f4;
}
.menu_superior a{
  color: #f4f4f4;
  font-weight: bolder;
  font-size: 23px;
  text-decoration: none;
  padding: 10px;
  top: -10px;
  position: relative;
}
.leftlogo{
  display: inline-block !important;
  position: relative;
  width:20px;
  top:5px;
  left:25px;
}
.rightlogo{
  position:absolute;
  display:inline-block;
  text-align:right !important;
  top:15px;
  right:25px;
}

#cont {font-family: "Work Sans",Montserrat,sans-serif, Helvetica, Arial,'Open Sans',sans-serif;}
.whitediv{
background-color:#fff;
border-radius: 5px;
padding:5px;
}
.whitetext{
color:#fff;
}
.onethirddiv{
width:32.33%;
margin:0.5%;
padding:10px;
min-height:30px;
/*border: 2px solid #ccc;
border-radius: 5px;*/
float:left;
display:inline-block;
}
.twothirddiv{
width:65.6%;
margin:0.5%;
padding:10px;
min-height:30px;
/*border: 2px solid #ccc;
border-radius: 5px;*/
float:left;
}
.fulldiv{
width:99%;
margin:0.5%;
padding:10px;
min-height:30px;
/*border: 2px solid #ccc;
border-radius: 5px;*/
float:left;
}
.oneforthdiv{
width:24%;
margin:0.5%;
padding:10px;
min-height:30px;
/*border: 2px solid #ccc;
border-radius: 5px;*/
float:left;
display:inline-block;
}
.twoforthdiv{
width:49%;
margin:0.5%;
padding:10px;
min-height:30px;
/*border: 2px solid #ccc;
border-radius: 5px;*/
float:left;
display:inline-block;
}
.threeforthdiv{
width:74%;
margin:0.5%;
padding:10px;
/*min-height:30px;*/
/*border: 2px solid #ccc;
border-radius: 5px;*/
float:left;
/*display:inline-block;*/
}
.onefifthdiv{
width:19%;
margin:0.5%;
padding:10px;
min-height:30px;
/*border: 2px solid #ccc;
border-radius: 5px;*/
float:left;
display:inline-block;
}
.twofifthdiv{
width:39%;
margin:0.5%;
padding:10px;
min-height:30px;
/*border: 2px solid #ccc;
border-radius: 5px;*/
float:left;
display:inline-block;
}
.threefifthdiv{
width:59%;
margin:0.5%;
padding:10px;
min-height:30px;
/*border: 2px solid #ccc;
border-radius: 5px;*/
float:left;
display:inline-block;
}
.fourfifthdiv{
width:79%;
margin:0.5%;
padding:10px;
min-height:30px;
/*border: 2px solid #ccc;
border-radius: 5px;*/
float:left;
display:inline-block;
}
.fullheight{
  height: 100%;
}
.btns{
  width:100%;
}
.btns a{
  background: #1d5785;
  color: #fff;
  display: inline-block;
  width: 100% !important;
  text-align: center;
  /*text-transform: uppercase;*/
  font-weight: 600;
  border-radius: 50rem;
  margin: 1rem 0;
  padding: 8px;
}
button {
  background: #1d5785;
  color: #fff;
  display: inline-block;
  width: 50% !important;
  text-align: center;
  /*text-transform: uppercase;*/
  font-weight: 600;
  border-radius: 50rem;
  margin: 1rem 0;
  padding: 8px;
}
.btns .links a:hover, button:hover {
  background: #ff0066;
}
.padding{
  padding:5px;
}
input[type="text"],input[type="password"]{
  background: #fff;
  color: #000;
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  /*text-transform: uppercase;*/
  font-weight: 200;
  /*border-radius: 50rem;*/
  border-radius: 10px;
  margin: 1rem 0;
  padding: 5px;
}
select{
  background: #fff;
  color: #000;
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 5px;
}
textarea{
  background: #fff;
  color: #000;
  display: inline-block;
  width: 100%;
  min-height: 150px;
  text-align: center;
  font-weight: 200;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 5px;
}
.clearfix {
  clear: both;
}


.ListarHeader{
  width: 16%;
  height: 5%;
  font-size: 14px;
  float: left;
  color: #3772FF;
  font-weight:bold; 
}
.ListarHeader2{
  width: 20%;
  height: 5%;
  font-size: 14px;
  float: left;
  color: #3772FF;
  font-weight:bold; 
}
.ListarSection{
  width: 16%;
  height: 30%;
  font-size: 14px;
  float: left;
}
.ListarSection2{
  width: 20%;
  height: 30%;
  font-size: 14px;
  float: left;
}
.ListarSection3{
  width: 16%;
  height: 8%;
  font-size: 14px;
  float: left;
}
.AnchoInput{
  width: 90%;
  color: black;
  font-family: "Work Sans",Montserrat,sans-serif, Helvetica, Arial,'Open Sans',sans-serif;
}
.Header2
{
 width: 100%;
 height: 45px;
 font-size: 25;
 font-weight: bolder;
 text-align: center;
 background-color: #419aff;
 color:#f4f4f4;
 padding:10px;
}
.Nav
{
 float: left;
}
.Section
{
  /*width: 70%;
  height: 70%;
  background-color:honeydew ;*/
  width:100%;
  height:100%;
  float: left;
  padding:10px;
}
.Section2
{
  text-align: center;
  padding:10px;
}
.Footer
{
 width: 100%;
 height: 6%;
 background-color:cyan;
 float: left;
 }
.Container
{
  width: 70vw;
  height: 96vh;
  margin: auto; 
 
}
.Dimensiones
{
    width: 100%;
    height: 100%;
}


/*================================================ */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers)*/
/*================================================ */
@media only screen and (max-width: 959px) {
  .onethirddiv,
    .twothirddiv,
    .fulldiv,
    .oneforthdiv,
    .twoforthdiv,
    .threeforthdiv,
    .onefifthdiv,
    .twofifthdiv,
    .threefifthdiv,
    .fourfifthdiv,.fullheight{
      width:100%;
      margin:0.5%;
      padding:10px;
      display:inline-block;
    }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .onethirddiv,
    .twothirddiv,
    .fulldiv,
    .oneforthdiv,
    .twoforthdiv,
    .threeforthdiv,
    .onefifthdiv,
    .twofifthdiv,
    .threefifthdiv,
    .fourfifthdiv,.fullheight{
      width:100%;
      margin:0.5%;
      padding:10px;
      display:inline-block;
    }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .onethirddiv,
    .twothirddiv,
    .fulldiv,
    .oneforthdiv,
    .twoforthdiv,
    .threeforthdiv,
    .onefifthdiv,
    .twofifthdiv,
    .threefifthdiv,
    .fourfifthdiv,.fullheight{
      width:100%;
      margin:0.5%;
      padding:10px;
      display:inline-block;
    }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .onethirddiv,
    .twothirddiv,
    .fulldiv,
    .oneforthdiv,
    .twoforthdiv,
    .threeforthdiv,
    .onefifthdiv,
    .twofifthdiv,
    .threefifthdiv,
    .fourfifthdiv,.fullheight{
      width:100%;
      margin:0.5%;
      padding:10px;
      display:inline-block;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .onethirddiv,
    .twothirddiv,
    .fulldiv,
    .oneforthdiv,
    .twoforthdiv,
    .threeforthdiv,
    .onefifthdiv,
    .twofifthdiv,
    .threefifthdiv,
    .fourfifthdiv,.fullheight{
      width:100%;
      height:auto;
      margin:0.5%;
      padding:10px;
      display:inline-block;
    }
}